# Server
NODE_ENV=development

# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://user:password@ep-xxxx.neon.tech/dsa_platform?sslmode=require"

# JWT
JWT_ACCESS_SECRET="change_this_access_secret"
JWT_REFRESH_SECRET="change_this_refresh_secret"
ACCESS_TOKEN_EXPIRES="15m"
REFRESH_TOKEN_EXPIRES="7d"

# Client
CLIENT_URL="http://localhost:3000"
